//- accountdeleted.pug
doctype html
html(lang="en")
  head
    style(type='text/css').
      table, tr, th, td {
        border: 1px solid black; border-collapse: collapse;
      }
  body(style="padding: 10px 20px")
    h3= subject
    table
      thead
        tr
          th(width="5%")= i18n(locale, 'id')
          th(width="20%")= i18n(locale, 'project')
          th(width="5%")= i18n(locale, 'state')
          th(width="40%")= i18n(locale, 'content')
          th(width="10%")= i18n(locale, 'ctime')
          th(width="10%")= i18n(locale, 'notify_date')
          th(width="10%")= i18n(locale, 'notify_time')
      tbody
        each task in tasks
          tr
            td= task.id
            td= task.pname
            if task.state == 1
              td= i18n(locale, 'finished')
            else if task.state == 2
              td= i18n(locale, 'deleted')
            else
              td= i18n(locale, 'unfinished')
            td= task.content
            td= task.ctime
            td= task.notify_date
            td= task.notify_time
